$pink: rgb(194, 90, 133);
$blue: rgb(121, 195, 230);

*{
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
}

body{
    background: $pink;
    height: 3000px;
}

div{
    text-align: center;
    padding: 30px;
    color: $blue;
    font-size: 60px;
}